{{template "header" .}}
<div class="px-6">
    <h1 class="py-4 text-4xl semibold tracking-tight">Список договоров</h1>
<ul  class="grid grid-cols-1 gap-16">
    <li class="border-t border-indigo-400 py-1 px-2">Договор АПП</li>
    <li class="border-t border-indigo-400 py-1 px-2">Договор сбподряда</li>
    <li class="border-t border-indigo-400 py-1 px-2">Договор ЕСОМП</li>
</ul>
{{template "footer" .}}
