<h1>FAQ page</h1>
<ul>
    <li><b>Куда бы вы хотели поехать отдыхать летом?</b> В Турцию</li>
    <li><b>Сколько вас человек?</b> Нас 4 человека</li>
    <li><b>Сколько будет стоит путевка?</b> Путевка на 4-х стоит 2 млн. тенге</li>
</ul>